{% if page.path contains "/de/" %}
{% assign languagePath = "/de/" %}
{% assign tryNowText = "Jetzt testen" %}
{% else %}
{% assign languagePath = "/" %}
{% assign tryNowText = "Try it now" %}
{% endif %}

<div class="header">
	<div class="container">
		<div class="row">
			<div class="col-xs-6 col-sm-6">
				<a class="tc-logo" href="{{ site.baseurl }}{{ languagePath }}">{% include timecockpit-logo-blue.svg %}</a>
			</div>
			<div class="col-xs-6 col-sm-6 header-side-menu text-right">
                {% if page.path contains "/de/" %}
                    {% if page.ref != null %}
                        <a href="{{ site.baseurl }}{{ page.ref }}">English</a>
                    {% else %}
                        <a href="{{ site.baseurl }}/">English</a>
                    {% endif %}
                {% else %}
                    {% if page.ref != null %}
                        <a href="{{ site.baseurl }}{{ page.ref }}">German</a>
                    {% else %}
                        <a href="{{ site.baseurl }}/de/">German</a>
                    {% endif %}

				{% endif %}
			</div>
		</div>
	</div>
	<nav class="navbar navbar-default">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div class="collapse navbar-collapse" id="navbar-collapse-1">
				<ul class="nav navbar-nav">
					{% if page.path contains "/de/" %}
					{% assign menuItems = site.data.menuitems_de %}
					{% else %}
					{% assign menuItems = site.data.menuitems_en %}
					{% endif %}

					{% for page in menuItems %}
					{% if page.title %}
					{% if page.items %}
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ page.title }} <span class="caret"></span></a>
						<ul class="dropdown-menu">
							{% for subpage in page.items %}
							{% if subpage.title %}
							<li><a href="{{ subpage.url | prepend: site.baseurl }}">{{ subpage.title }}</a></li>
							{% endif %}
							{% endfor %}
						</ul>
					</li>
					{% else %}
					<li>
						<a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
					</li>
					{% endif %}
					{% endif %}
					{% endfor %}
				</ul>

				<ul class="nav navbar-nav navbar-right">
					<li><a class="tc-action-button" href="{{ site.baseurl }}{{ languagePath }}create-trial-account">{{ tryNowText }}<span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span></a></li>
				</ul>
			</div>
		</div>
	</nav>
</div>
