@import "bootstrap/bootstrap/_variables.scss";
@import "_variables.scss";

body {
	font-family: $base-font-family;
	font-size: $base-font-size;
	line-height: $base-line-height;
	letter-spacing: 0.1px;
}

h1, h2, h3 {
	color: $header-color;
	margin-top: 40px;
    margin-bottom: 20px;
}

h1, h1 a {
	font-size: 32px;
}

h2, h2 a {
	font-size: 26px;
}

h3, h3 a {
	font-size: 20px;
}

@media (max-width: $screen-sm-max) { 
	h1, h1 a {
		font-size: 26px;
	}

	h2, h2 a {
		font-size: 22px;
	}

	h3, h3 a {
		font-size: 18px;
	}
}

img {
	max-width: 100%;
}

p {
	margin: 0 0 20px;
}

a {
	text-decoration: none;
	color: $main-color;

	&:hover {
		text-decoration: underline;	
		color: darken($main-color, 20%);
	}
}

blockquote {
	font-size: $base-font-size;
}