@import "_variables.scss";

div.header {
	background-color: #222;
	color: #fff;

	.navbar {
		border: none;
		background-color: transparent;
		margin-bottom: 0;
	}

	.navbar-default .navbar-nav > li > a  {
		text-transform: uppercase;
		color: #fff;
	}

	.navbar-collapse {
		padding-left: 0;
		padding-right: 0;

		.navbar-nav {
			margin-left: 0;
			margin-right: 0;
		}
	}

	.navbar-default .navbar-toggle .icon-bar {
		color: #fff;
	}

	a.site-title {
		svg {
			height: 30px;
			width: auto;
			margin: 10px 0 0 0;
		}
	}
}

footer {
	background-color: #222;
	color: #fff;

	a {
		color: #fff;
	}
}

p.highlighted {
	text-align: center;
    background-color: $main-color;
    color: #fff;
    padding: 20px 40px;
}

span.highlightedText {
    font-size: 30px;
}