@import "_variables.scss";

.tc-banner {
	background-image: url(/time-cockpit-website/content/images/banner.jpg);
	background-size: cover;
	width: 100%;
	height: 500px;
}

.blog-overview {
	img {
		width: 100%;
	}
}

p.highlighted {
	text-align: center;
	background-color: $main-color;
	color: #fff;
	padding: 20px 40px;
}

p.showcase {
	background-color: #ededed;
	padding: 20px 20px;
}

span.highlightedText {
	font-size: 30px;
}

.customerLogos {
	 a {
		display: block;
		height: 100px;
		margin-bottom: 20px;
		border: 1px solid #ddd;
		padding: 10px;
		text-align: center;
	}

	img {
		max-height: 100%;
		position: relative;
		top: 50%;
		-moz-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
	}
}

input[type=button], input[type=submit], a.linkButton, a.linkButtonMain {
	color: #fff !important;
	background-color: $highlight-color;
	border: none;
	line-height: 20px;
	padding: 10px 20px;
	font-size: 16px;
	text-transform: uppercase;
	cursor: pointer;
	text-decoration: none;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 5px;

	span.glyphicon {
		top: 2px;
		margin-left: 10px;
	}
}

p.imageCaption {
    margin-top: -20px;
    margin-bottom: 20px;

	&, & a {
		font-size: 11px;
		line-height: 15px;
	}
}

.floatRight {
    float: right;
    margin-left: 20px;
}

.floatLeft {
    float: left;
    margin-right: 20px;
}

/* containers */
.tc-container-white, .tc-container-blue, .tc-container-lightgray {
	padding-top: 60px;
	padding-bottom: 60px;

	> div.container > div.row:first-of-type {
		margin-top: -40px;
	}

	> div.container > div.row > div:last-of-type > p:last-of-type {
		margin-bottom: 0;
	}
}

.tc-container-blue {
	background-color: $main-color;
	color: #fff;
}

.tc-container-lightgray {
	background-color: #e0e0e0;
}

/* pricing */
.tc-pricing {
	padding: 20px 40px;
	background-color: #fff;
	color: $base-text-color;
	border-radius: 10px;

	*:first-of-type {
		margin-top: 0px;
	}

	ul {
		padding-left: 0;

		li {
			list-style-type: none;
			font-size: $larger-font-size;

			&:before { 
				color: $highlight-color;
				font-family: "Glyphicons Halflings";
				content: "\e013"; 
				padding-right: 10px;
			}
		}
	}

	p.trial-account {
		margin-top: 40px;
	}
}